.body-holder{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(194px, 1fr));
  grid-gap: 2px;
  border: solid 2px rgb(41, 41, 41);
}
body{
  background-color: rgb(85, 84, 84);
}
.main{
  background-color: rgb(245, 244, 244);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: arial;
}
.product-quantity{
  display: flex;
  width: 50px;
}
#quantity{
  width: 40px;
  height: 15px;
}
#quantity::placeholder{
  color: black;
}
.product-price{
  display: flex;
}
.product-name{
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.main-contian-holder{
  display: grid;
  grid-template-columns: 190px;
  grid-template-rows: 142px 40px 30px 25px 25px 20px 20px 30px ;
}

.product-image{
  width: 100%;
  height: 100%;
}
.product-price{
  font-weight: bold;
}
.product-price,.product-quantity,.product-description,.product-rating{
  margin-left: 20px;
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: start;
}
.rate-point{
  flex: 1;
  text-align: start;
  color: green;
  margin-bottom: 2px;
}
.display-message{
  font-weight: bold;
  font-size: 18px;
  color: green;
  display: flex;
  justify-content: center;
}
.checked{
  color: orange;
}
.half-checked{
  color:color-mix(in bold shorter black, orange 50%, red 50%) ;
}

.mamn{
  background-color: green;
  border-radius: 50%;
  padding: 2px;
  border: solid 2px;
  display: flex;
  align-items: center;
}  
.dms-hide{
  display: none;
}
.vx2{
  color: white;
}

.add-to-cart-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-to-cart-button button{
  background-color: rgb(255, 187, 0);
  font-weight: bold;
  padding: 5px 50px ;
  border: none;
  border-radius: 20px;
}

.rating-star-image{
  width: 90px;
  height: 70%;
}

.srh-hide{
  display: none;
}
::-webkit-scrollbar{
  display: none;
}

.hind-option{
  display: none;
}

